<!-- views/inc/Top.ejs -->

<div>
    <h1><a href="/">철우의 홈페이지</a></h1>
    <nav>
        <a href="/home">Home</a> | 
        Profile | Gallery | Board | Lecture | 
        <a href="/todo/list">todos</a>
    </nav>
</div>
